# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
env/
*.venv

# Jupyter Notebook files
.ipynb_checkpoints

# VS Code settings
.vscode/

# Docker
Dockerfile
.dockerignore

# Build artifacts and logs
build/
dist/
*.egg-info/
*.egg
*.log

# MacOS artifacts
.DS_Store
